<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- dependent class -->
<bean id="kaveri" class="com.nt.beans.Kaveri"  scope="prototype"/>
<bean id="punjabi" class="com.nt.beans.PunjabiKichen"/>
<bean id="season" class="com.nt.beans.Season"/>



<!-- target class -->
<bean id="zomato" class="com.nt.beans.ZomatoApp">
<constructor-arg ref="kaveri"/>
</bean>


</beans>
